/* :root{
    --header-main:#94CFFF;
    --section1: #FFF;
    --butt:#26C6EA;
    --section24:#0A3853;
    --name:#000;
    --section4:#141414; 
    --button-background: #0B0E66;
   }
   body{
       font-family: 'Inter', sans-serif;
   
   }
   .conteiner{
       width: 1062px;
       margin: 0 auto;
       padding: 0 15px;
   }
   header{
       padding-top: 40px;
       padding-bottom: 40px;
       background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/header.webp);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
   .logo-nav{
       display: flex;
       align-items: center;
   }
   .header-box{
       color: var(--section1);
       font-size: 20px;
       font-weight: 300;
   }
   .header-box:hover,
   .header-box:focus{
       color: var(--header-main);
   }
   .header-list{
       margin-right: 38px;
       text-align: center;
       display: flex;
   }
   .header-wrap{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .login{
       background-color: var(--button-background);
       border: 3px solid var(--butt);
       border-top-left-radius: 45px;
       border-bottom-right-radius: 45px;
       cursor: pointer;
       font-family: 'Headland One', serif;
       padding: 8px 38px;
       font-size: 20px;
       font-weight: 400;
       color: var(--butt);
       margin-right: 50px;
   }
   .len-list{
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .len-wrap{
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   .len{
       color: var(--section1);
       text-align: center;
       font-family:'Hammersmith One', sans-serif;
       font-size: 16px;
       font-weight: 400;
   }
   .len-img{
       width: 36px;
       height: 20px;
       margin-right: 10px;
       margin-left: 10px;
   }
   .hero-list:nth-last-child(1){
       padding-top: 67px;
   }
   .inst{
       padding-top: 27px;
   }
   .hero-box{
       color: var(--section1);
       font-size: 20px;
       font-weight: 400;
   }
   .hero-mid{
       width: 152px;
       height: 40px;
       margin-left: 50px;
       margin-top: 10px;
   }
   .join{
       color: var(--butt);
       text-align: center;
       font-family: 'Headland One', serif;
       font-size: 24px;
       font-weight: 400;
       background-color: var(--button-background);
       border: 3px solid var(--butt);
       border-top-left-radius: 45px;
       border-bottom-right-radius: 45px;
       cursor: pointer;
       padding: 25px 75px;
   }
   .hero{
       /* cтавимо на фон та витягуємо по розміру */
       /* background-image: url(../img/firstsection.webp);
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
       padding-top: 180px;
       padding-bottom: 180px;
   }
   .hero-wrapper{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .quote{
       padding-top: 75px;
       padding-bottom: 10px;
   }
   .mereg{
       width: 30px;
       height: 30px;
   }
   .text{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .text-wrap{
       color: var(--section24);
       text-align: center;
       font-size: 36px;
       margin-bottom: 16px;
       font-weight: 400;
   }
   .text-name{
       color: var(--name);
       text-align: center;
       font-size: 24px;
       margin-bottom: 10px;
   }
   .text-box{
       width: 400px;
       height: 120px;
   }
   .trailer-btn{
       color: var(--butt);
       font-family: 'Headland One', serif;
       font-size: 24px;
       font-weight: 400;
       padding: 20px 25px;
       background-color: var(--button-background);
       border: 3px solid var(--butt);
       border-top-left-radius: 45px;
       border-bottom-right-radius: 45px;
       cursor: pointer;
   }
   .trailer-wp{
       display: flex;
       justify-content: center;
   }
   .trailer{
       background-image: url(../img/trailer.webp);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       padding-top: 330px;
       padding-bottom: 330px;
   }
   .language-let{
       color: var(--section4);
       text-align: justify;
       font-family: 'Headland One', serif;
       font-size: 32px;
       font-weight: 400;
       text-align: center;
       margin-bottom: 45px;
   }
   .language{
       background-image: url(../img/lastsektion.webp);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       padding-top: 58px;
       padding-bottom: 22px;
   }
   .language-list{
       text-align: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 320px;
       background-color: rgba(255, 255, 255, 0.70);
       padding-top: 36px;
       padding-bottom: 36px;
       margin-bottom: 36px;
   }
   .language-wrap{
       display: flex;
       justify-content: space-between ;
       flex-wrap: wrap;
   }
   .eng{
       color: var(--name);
       text-align: justify;
       font-family: 'Headland One', serif;
       font-size: 24px;
       font-weight: 400;
   }
   .language-box{
       width: 152px;
       height: 40px;
       margin-bottom: 40px;
       margin-top: 40px;
   }
   .foooter{
       background-image: url(../img/footer.webp);
       background-position: center;
       background-size: cover;
       background-repeat: no-repeat;
       padding-top: 80px;
       padding-bottom: 80px;
   }
   
   
   
   
   .footer {
       background-image: linear-gradient(to right, rgba(43, 74, 97, 0.87), rgba(43, 74, 97, 0.87)), url(../img/footer.webp);
       background-repeat: no-repeat;
       background-position: center;
       background-size: cover;
       padding-bottom: 25px;
   }
   .footer-wrap{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }
   .footer-line{
       width: 2px;
       height: 153px;
       background-color: var(--section1);
       margin-top: 35px;
       margin-bottom: 35px;
   }
   .footer-logo-wrap{
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .footer-mail{
       color: var(--section1);
       font-size: 20px;
       font-weight: 400px;
   }
   .footer-mail:hover,
   .footer-mail:focus{
       color: var(--header-main);
   }
   .footer-dots{
       margin-right: 20px;
       margin-left: 20px;
   }
   .footer-mail-item{
       display: flex;
       flex-direction: row;
       align-items: center;
   }
   .footer-mail-item:nth-child(1){
       margin-bottom: 16px;
   }
   .copyright{
       color: var(--section1);
       font-size: 14px;
       font-weight: 400;
       margin-top: -30px;
       text-align: center;
   } */


 
